/* DoctorSearchBar.css */

/* Container style */
.search-bar-container {
    display: flex;
    align-items: center;
    /* Center items vertically */
    margin-bottom: 20px;
}

/* Header style */
h3 {
    color: #333;
    /* Set text color */
    margin-right: 10px;
    /* Add some spacing on the right */
}

/* Input style */
.search-input {
    padding: 6px;
    /* Adjust padding for a smaller size */
    border: 2px solid #007777;
    border-radius: 3px;
    /* Adjust border-radius for a rounder look */
    width: 150px;
    /* Adjust width */
    box-sizing: border-box;
    /* Include padding and border in the width */
    font-size: 12px;
    /* Adjust font size */
    transition: border-color 0.3s ease;
    /* Add a smooth transition for better user experience */
}

/* Adjust border color on focus */
.search-input:focus {
    border-color: #005555;
}

/* Button style */
.search-button {
    background-color: #007777;
    color: #fff;
    border: none;
    padding: 6px 10px;
    /* Adjust padding for a smaller button */
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    /* Add a smooth transition for better user experience */
}

.search-button:hover {
    background-color: #005555;
}